canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.color-picker-wrapper {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.color-input {
  margin-right: 20px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.stroke-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stroke-input {
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-color: #ddd;
  outline: none;
  height: 6px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stroke-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
}

.stroke-range {
  display: flex;
  justify-content: space-between;
  width: 150px;
  font-size: 14px;
  color: #666;
}

.reset-button{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}